body {
    font-family: arial;
    margin: 0;
    padding: none;
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: 100vw 100vh;
    background-repeat: repeat-x;
}

#gitlab {
    float: right;
    margin-top: none;
    width: 100px;
    height: 100px;
}
